.row{
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 20px;
}

.row_cover{
    margin-left: 20px;
    color: aliceblue;
}

.row::-webkit-scrollbar{
    display: none;
}

.poster_row{
    object-fit: contain;
    width: 100%;
    max-height: 100px;
    margin-right: 10px;
    transition: transform 400ms;
}

.poster_row:hover{
    transform: scale(1.5);

}
.Large_poster{
    max-height: 250px;
}
.Large_poster:hover{
    transform: scale(1.8);
}